.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 10px;
}

.name {
    margin-top: 1em;
    font-weight: bold;
}

.salutation {
    font-style: italic;
}

.about-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 100px) {
    .about {
        height: 20%;
        width: 100%;        
    }

    .about-picture-box {
        width: 100%;
        margin-left: 0;
    }

    .about-picture {
        width: 100%;
    }

    .about-text-box {
        width: 90%;
        margin-left: 10%;
    }

}

@media screen and (min-width: 450px) {
    .about {
        height: 20%;
        width: 100%;
    }

    .about-picture {
        width: 100%;
        align-self: center;
    }

    .about-text-box {
        width: 100%;
        margin-left: 10%;
    }

}


@media screen and (min-width: 730px) {
    .about {
        height: 20%;
        width: 100%;
        align-items: flex-start;        
    }

    .about-picture-box {
        width: 50%;
        margin-left: 0%;
    }

    .about-picture {
        width: 100%;
    }

    .about-text-box {
        width: 50%;
        margin-left: 0%;
        margin-top: 10px
    }

}

@media screen and (min-width: 950px) {
    .about-text-box {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .about {
        height: 20%;
        max-width: 1000px;
        justify-content: space-around;
    }

    .about-picture-box {
        width: 40%; 
        margin-left: 0;
    }

    .about-picture {
        width: 100%;
    }

    .about-text-box {
        width: 50%;
    }

    .name {
        margin-top: 1em;
        font-weight: bold;
    }

}

