header {
    background-color: #F44336;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #212121;
}
.about {
    background-color: #D32F2F;
}

.about-picture-box {
    background-color: aqua;
}

.about-text-box {
    background-color: greenyellow;
}

.research {
    background-color: pink;
}

.footer {
    background-color: #BDBDBD;
}

i {
    color: #FFFFFF;
}

footer {
    background-color: #BDBDBD;
}