body {
    background-color: #d32f2f    ;
}

.header-content {
    height: 40px;
    background-color: #212121;
    text-align: left;
    padding: 10px;
    
}

h1 {
    color: white;
}

h2 {
    color: #212121;
}

p {
    color: #212121;
}
.about {
    background-color: white;
}

.about-picture-box {
    background-color: white;
}

.about-text-box {
    background-color: white;
}

.research {
    background-color: #f44336
    ;
}

.footer {
    background-color: #BDBDBD;
}

i {
    color: white;
}

footer {
    background-color: #BDBDBD;
}