header {
    background-color: red;
}

.about {
    background-color: green;
}

.about-picture-box {
    background-color: aqua;
}

.about-text-box {
    background-color: greenyellow;
}

.research {
    background-color: pink;
}