footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.footer-spacer {
    margin-top: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

@media screen and (min-width: 100px) {
    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .contact {
        text-align: center;
        margin-left: 0%;
        width: 90%;
        order: 2;
    }
    .social-media {
        text-align: center;
        margin-left: 0%;
        width: 90%;
        order: 1;
        font-size: 50px;
    }

}

@media screen and (min-width: 600px) {
    .footer-spacer {
        margin-bottom: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact {
        text-align: left;
        margin-left: 0;
        width: 30%;
        order: 1;
    }
    .social-media {
        text-align: right;
        width: 30%;
        order: 2;
    }
}

@media screen and (min-width: 1024px) {
    .footer-spacer {
        margin-bottom: 30px;
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact {
        margin-left: 0;
        width: 30%;
        order: 1;
    }
    .social-media {
        width: 30%;
        order: 2;
    }
}