.research {
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;    
}

.research-panel {
    width: 50%;
    height: auto;
    background-color: black;
    color: white;
}

.research-publications {
    width: 50%;
    background-color: white;
    height: auto;
}

.article-name {
    font-weight: bold;
}
