.container {
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
}

.header-menu {
    width: 30%;
    display: flex;
    justify-items: flex-end;

}

.header-item {
    font-size: 18;
    margin-left: 2%;
    font-weight: bold;
}

/* About */

.about {
    display: flex;
    flex-flow: row wrap;
}

.about-photo-col {
    width: 50%;
}

.about-text-col {
    width: 50%;
}

img {
    width: 100%;
}